
<h1>Recipes</h1>
  <%= link_to "Add recipe", new_recipe_path, {class: "btn btn-success w-25 mt-5 mb-2"} %>
<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>
