<div>
<%= link_to "Add food", new_food_path, class: ""%>
</div>

<div>
  <table>
    <thread>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Actions</th>
      </tr>
    </thread>

    <tbody>
      <% @foods.each do |food| %>
        <tr>
        <td>Food</td>
        <td>Measurement unit</td>
        <td>Unit price</td>
        <td>Actions</td>
         <td><%= link_to "Delete", food, method: :delete%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
