<% if can? :destroy, recipe %>
  <%= link_to recipe_path(recipe.id), remote: true, method: :delete, class: "btn btn-danger w-10 my-2 align-self-end" do%>
    <span>Remove</span>
  <% end %>
<% end %>
